# Data EDA

Going to do some EDA on the Taxi data to look at features, etc.

### Imports

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates
import seaborn as sns
from datetime import datetime

%matplotlib inline

### Upload training data

In [45]:
training_data = pd.read_csv('../Data/train.zip')

In [3]:
training_data.head(5)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [6]:
training_data.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [8]:
training_data.shape

(1458644, 11)

Any NAs?

In [18]:
training_data.isnull().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

## Do some data conversions

Get time of day and day of year

In [19]:
pickup_dates = {}
dropoff_dates = {}

In [47]:
training_data['pickup_date'] = [datetime.strptime(i, "%Y-%m-%d %H:%M:%S")  for i in training_data.pickup_datetime]
training_data['dropoff_date'] = [datetime.strptime(i, "%Y-%m-%d %H:%M:%S")  for i in training_data.dropoff_datetime]

In [53]:
training_data['pickup_date2num'] = [matplotlib.dates.date2num(i)  for i in training_data.pickup_date]
training_data['dropoff_date2num'] = [matplotlib.dates.date2num(i)  for i in training_data.dropoff_date]

## Look at correlations of certain variables to time